In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read the original quotes data CSV
input_file = "simulated_quotes_dataset.csv"
df = pd.read_csv(input_file)

In [21]:

# Randomly set 5% of 'Lead_Time_Weeks' as NaN
df.loc[df.sample(frac=0.05).index, 'Lead Time (weeks)'] = np.nan

In [22]:
# Set some weight values to unrealistic extremes
df.loc[df.sample(frac=0.01).index, 'Weight'] = df['Weight'].mean() * 4

In [23]:
# 1. Inject noise into "Profile Name"
unique_profiles = df["Profile Name"].unique()
shuffle_indices = np.random.choice(df.index, size=int(0.07 * len(df)), replace=False)
for idx in shuffle_indices:
    df.at[idx, "Profile Name"] = np.random.choice(unique_profiles)

In [16]:
# 2. Inject Gaussian noise into "Tolerances"
tolerance_noise = np.random.normal(loc=0, scale=0.007, size=len(df))
df["Tolerances"] = (df["Tolerances"] + tolerance_noise).clip(0.05, 0.2)

In [17]:
# 3. Swap 5-10% values in "GD&T"
gd_values = ["low", "medium", "high"]
gd_indices = np.random.choice(df.index, size=int(0.07 * len(df)), replace=False)
for idx in gd_indices:
    current = df.at[idx, "GD&T"]
    options = [val for val in gd_values if val != current]
    df.at[idx, "GD&T"] = np.random.choice(options)

In [24]:
output_file = "quotes_dataset_messy.csv"
df.to_csv(output_file, index=False)

In [3]:
# Read the original quotes data CSV
input_file = "quotes_dataset_messy.csv"
df1 = pd.read_csv(input_file)

In [4]:
df.describe()

,Length,Weight,Tolerances,Order Quantity,LME price,Lead Time (weeks),Quote Price (SEK)
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,27.331700,1.291536,0.122532,96386.38800,3.347070,7.023000,3.029540
std,6.703232,0.263956,0.043870,36285.80374,0.448859,3.195729,0.641656
min,15.800000,0.837000,0.050000,32328.00000,2.550000,2.000000,1.890000
25%,21.300000,1.081000,0.085000,65393.50000,2.970000,4.000000,2.480000
50%,27.550000,1.291000,0.120500,96735.00000,3.360000,7.000000,3.020000
75%,33.100000,1.514000,0.161250,127452.00000,3.720000,10.000000,3.580000
max,38.900000,1.746000,0.200000,160864.00000,4.140000,12.000000,4.160000

In [5]:
df1.describe()

,Length,Weight,Tolerances,Order Quantity,LME price,Lead Time (weeks),Quote Price (SEK)
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,950.000000,1000.000000
mean,27.331700,1.329647,0.122532,96386.38800,3.347070,6.996842,3.029540
std,6.703232,0.466752,0.043870,36285.80374,0.448859,3.200861,0.641656
min,15.800000,0.837000,0.050000,32328.00000,2.550000,2.000000,1.890000
25%,21.300000,1.082000,0.085000,65393.50000,2.970000,4.000000,2.480000
50%,27.550000,1.294000,0.120500,96735.00000,3.360000,7.000000,3.020000
75%,33.100000,1.521000,0.161250,127452.00000,3.720000,10.000000,3.580000
max,38.900000,5.166144,0.200000,160864.00000,4.140000,12.000000,4.160000

In [6]:
df1.isnull().sum()

Alloy                 0
Finish                0
Length                0
Weight                0
Profile Name          0
Tolerances            0
GD&T                  0
Order Quantity        0
LME price             0
Customer Category     0
Lead Time (weeks)    50
Quote Price (SEK)     0
Quote Date            0
dtype: int64